.page-2 {
  .ren-nan-wrapper{
    position: absolute;
    top: 1187px;
    left: 120px;
  }
  .ren-nv-wrapper{
    position: absolute;
    top: 1415px;
    left: 114px;
    li{ margin-right: 33px; }
  }
  li{
    opacity: 0;
    position: relative !important;
    display: inline-block;
    margin-right: 37px;
  }
  .ren-nan-s{
    margin:0 15px 0 -20px;
  }
  .ren-nv-s{
    margin:0 12px 0 -25px !important;
  }
}

.page-4{
  .bg-mask{
    .mask;
    background: rgba(0,0,0,0.2);
  }
}

.page-8{
  .bg-mask{
    .mask;
    background: rgba(0,0,0,0.5);
  }
}

.page-10, .page-13{
  .w-xing-xiao {
    .rotate;
  }
}

.page-15, .page-17{
  .w-lun-tian-mao,.w-lun-qi-jian-dian{
    .rotate;
  }
  .w-lun-xin-lin-shou{
    .rotate-s;
  }
}

.page-18{
  li{ opacity: 0; }
  .fz-1{ .bg('fz-1.png', 55, 57, 893, 322); }
  .fz-2{ .bg('fz-2.png', 67, 74, 849, 370); }
  .fz-3{ .bg('fz-3.png', 80, 85, 812, 440); }
  .fz-4{ .bg('fz-4.png', 97, 113, 772, 531); }
  .fz-5{ .bg('fz-5.png', 139, 153, 757, 647); }
}


