.page-2 {
  .ren-nan-wrapper{
    position: absolute;
    top: 1187px;
    left: 120px;
  }
  .ren-nv-wrapper{
    position: absolute;
    top: 1415px;
    left: 114px;
    li{ margin-right: 33px; }
  }
  li{
    position: relative !important;
    display: inline-block;
    margin-right: 37px;
  }
  .ren-nan-s{
    margin:0 15px 0 -20px;
  }
  .ren-nv-s{
    margin:0 12px 0 -25px !important;
  }
}

.page-4{
  .bg-mask{
    .mask;
    background: rgba(0,0,0,0.2);
  }
}


