doctype html
html(lang='zh')
  head
    -
      var metas = [{
        name: 'viewport',
        content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui'
      },{
        'http-equiv': 'Content-Type',
        content: 'text/html; charset=utf-8',
      },{
        name: 'format-detection',
        content: 'telephone=no',
      },{
        name: 'Expires',
        content: '-1',
      },{
        name: 'Pragma',
        content: 'no-cache',
      },{
        name: 'full-screen',
        content: 'yes',
      },{
        name: 'browsermode',
        content: 'application',
      },{
        name: 'x5-orientation',
        content: 'portrait',
      }];
    each item in metas
      meta&attributes(item)
    link(rel='apple-touch-icon' href='//gw.alicdn.com/tfs/TB1m9hGhXOWBuNjy0FiXXXFxVXa-152-152.jpg')
    link(rel='shortcut icon' type="image/x-icon" href='//g.alicdn.com/mui/global/1.2.35/file/favicon.ico')
    //- script(src='./js/set.js')
  body
    script(src='./js/index.js')
